@use "../../assets/mixins";
@use "../../globals/s3d2_fonts";

.s3d2-ButtonIconLeft {
  @include s3d2_fonts.fonts-3d-small-medium;

  border-radius: var(--border-space-2);
  padding: var(--space-2) var(--space-3);
  color: var(--text-gray-900);
  background-color: transparent;
  border: 1px solid var(--border-gray-400);
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.25s ease-out;

  span {
    @include s3d2_fonts.fonts-3d-small-medium;

    @media screen and (max-width: 768px) {
      font-size: 11px;
    }
  }

  svg {
    width: 24px;
    height: 24px;
    margin-right: var(--space-1);
    &:not(.s3d2-ButtonIconLeft__icon--no-paints) {
      fill: var(--s3d2-color-icon-gray-900);
    }
    &:not(.s3d2-ButtonIconLeft__icon--no-paints) {
      path {
        fill: var(--s3d2-color-icon-gray-900);
      }
    }
  }

  &--secondary {
    background-color: var(--color-surface-brand-800);
    border: 1px solid var(--color-brand-900);
    color: var(--s3d2-color-text-gray-200);

    svg:not(.s3d2-ButtonIconLeft__icon--no-paints) {
      fill: var(--s3d2-color-icon-gray-200);
      stroke: var(--s3d2-color-icon-gray-200);
    }
  }

  &--centered {
    justify-content: center;
    @media screen and (max-width: 600px) {
      span {
        font-size: 13px;
      }
    }
  }
  &--dark {
    border-radius: var(--space-2, 8px);
    background: var(--color-gray-900-transparent-60, rgba(26, 30, 33, 0.6));
    backdrop-filter: blur(20px);
    border-color: transparent;
    color: var(--s3d2-color-text-gray-200);
  }

  &--light {
    border-radius: var(--space-2, 8px);
    background: var(--s3d2-color-surface-gray-900);
    backdrop-filter: blur(20px);
    border-color: transparent;
    color: var(--s3d2-color-gray-200);

    svg {
      stroke: var(--s3d2-color-icon-gray-200);
    }
  }

  &:disabled {
    background-color: var(--color-surface-gray-100);
    border: 1px solid var(--border-gray-400);
    color: var(--text-gray-600);
    cursor: not-allowed;

    svg {
      fill: var(--icon-gray-600);
    }
  }

  &[data-filter-not-empty]::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: var(--color-surface-success);
    border-radius: 50%;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
  }

  &--filter {
    path {
      transform-origin: center;
      transition: 0.25s ease-out;
      transform-box: fill-box;
    }
  }
}

@include mixins.onHover {
  .s3d2-ButtonIconLeft:hover {
    background: var(--s3d2-color-surface-gray-200-transparent-10);
    // background-color: var(--color-surface-gray-400-transperent-88);
    span {
      color: var(--text-gray-900);
    }

    .s3d2-ButtonIconLeft__icon--no-paints {
      path {
        stroke: var(--s3d2-color-icon-gray-900);
      }
    }
  }

  .s3d2-ButtonIconLeft--secondary:hover,
  .swal2-confirm:hover {
    border-color: var(--border-brand-800);
    background-color: var(--color-surface-brand-700);
  }

  .s3d2-ButtonIconLeft--dark:hover {
    border-color: transparent;
    background: var(--s3d2-color-surface-gray-200-transparent-10);
  }

  .s3d2-ButtonIconLeft--light:hover {
    border-color: transparent;
    background: var(--s3d2-color-surface-gray-200-transparent-80);

    span {
      color: var(--s3d2-color-text-gray-900);
    }
  }
}
