.s3d-flat-dashboard {
  padding-top: calc(var(--s3d-header) + var(--space-4));

  display: flex;
  flex-wrap: wrap;
  row-gap: var(--space-4);
  // background: url(/wp-content/themes/3d/assets/s3d/images/background-inside.jpg);
  padding-left: var(--space-6);
  padding-right: var(--space-6);
  @media screen and (max-width: 600px) {
    padding-left: var(--space-4);
    padding-right: var(--space-4);
  }
  &__gallery {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: var(--space-2);
    border-radius: var(--space-2);
    overflow: hidden;
    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
    &-item-wrap {
      width: 100%;
    }
    &-item {
      position: relative;
      padding-bottom: 72.5%;
      height: 100%;
      cursor: pointer;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    @media screen and (max-width: 600px) {
      &-item-wrap:nth-child(n + 2) {
        display: none;
      }
    }
    &-item-wrap:first-child {
      grid-area: 1 / 1 / 3 / 1;
    }
    &-item-wrap:first-child &-item {
      padding-bottom: Min(74%, 80vh);
    }
    &-button {
      position: absolute;
      right: var(--space-4);
      bottom: var(--space-4);
    }
    &--less-items {
      grid-template-rows: auto;
    }
    &--less-items &-item-wrap:nth-child(1) {
      grid-area: 1 / 1 / 2 / 4;
    }

    &--less-items &-item-wrap:nth-child(n + 2) {
      display: none;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    gap: var(--space-2);
    width: 75%;
    @media screen and (max-width: 600px) {
      width: 100%;
      // flex-direction: column;
      align-items: flex-start;
      flex-wrap: wrap;
      row-gap: var(--space-4);
      column-gap: var(--space-2);
    }
    &-item:first-child {
      width: 50%;
      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }
    &-item {
      flex-grow: 1;
      &__icon {
        width: 16px;
        height: 16px;
        fill: var(--text-gray-800);
        @media screen and (min-width: 601px) {
          display: none;
        }
      }
      @media screen and (max-width: 600px) {
        &--mobile-row {
          display: flex;
          align-items: center;
          gap: var(--space-2);
        }
        .text-style-3-d-fonts-1920-h-1 {
          font-size: 14px;
          font-weight: 500;
        }
        .text-gray-800 {
          font-size: 14px;
        }
      }
      @media screen and (max-width: 600px) {
        &--mobile-column {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: var(--space-2);
        }
        &--mobile-head {
          .text-style-3-d-fonts-1920-h-1 {
            font-size: 20px;
          }
        }
      }
    }
  }
  &__call-to-action {
    width: 25%;
    border-radius: var(--space-2);
    border: 1px solid var(--color-gray-500);
    padding: var(--space-2);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space-1);
    @media screen and (max-width: 600px) {
      width: 100%;
    }
    & > * {
      // width: 100%;
      justify-content: center;
      flex-grow: 1;
    }
    & > :first-child {
      flex-basis: 100%;
    }
  }
  &__status-label {
    position: absolute;
    left: var(--space-2);
    top: var(--space-2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    padding: 6px 12px;
    border-radius: 8px;
    background-color: #83af8d;
    color: var(--text-gray-200);
    span {
      margin-right: var(--space-1);
    }
  }
}
