.s3d-flat-new__floor-plan {
  padding: var(--space-28) var(--space-6) 0 var(--space-6);
  // padding-bottom: max(10.83vw, 80px);
  // display: none;
  // background: url('/wp-content/themes/3d/assets/s3d/images/background-inside.jpg');
  @media screen and (max-width: 768px) {
    // padding-bottom: calc(var(--space-10) * 0.75);
    padding: var(--space-24) var(--space-5) 0 var(--space-5);
  }
}
