@use "../../globals/fonts";

.s3d2-header {
  position: relative;
  padding: var(--space-1) var(--space-1) var(--space-1) var(--space-3);

  background-color: var(--color-surface-gray-200);
  background-color: var(--color-surface-gray-200-transperent-88);
  display: flex;
  align-items: center;
  --btn-border-radius: var(--border-space-1);

  border-radius: var(--border-space-2);
  // border: 1px solid var(--border-gray-400);
  border: 1px solid transparent;

  border-radius: var(--paddings-gaps-paddings-gaps-2, 8px);
  background: var(--colors-surface-gray-surface-gray-900-transparent-60, rgba(26, 30, 33, 0.6));
  backdrop-filter: blur(20px);

  &__logo {
    margin-right: var(--space-3);
    height: 28px;

    @media screen and (max-width: 600px) {
      margin-right: 0;
      padding-right: var(--space-3);
      margin-left: calc(var(--space-3) * -1);
      padding-left: calc(var(--space-3));
    }

    img {
      height: 100%;
      width: auto;
      object-fit: contain;
    }
  }

  [data-history-back-button] {
    padding-right: 8px;
  }

  &__back-button {
    @include fonts.text-style-3-d-fonts-1920-super-tiny;
    padding: var(--space-1);
    margin-right: var(--space-1);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-surface-gray-200);

    border: 1px solid var(--border-gray-400);
    border-radius: var(--btn-border-radius);
    cursor: pointer;
    color: var(--icon-gray-900);
    transition: 0.25s ease-out;
    height: 36px;

    background-color: transparent;
    border-color: transparent;
    color: var(--text-gray-200);

    &[data-type='plannings'] {
      border-radius: var(--Spacing-Corner-radius-radius-1, 4px);
      background: var(--colors-surface-gray-surface-gray-900-transparent-60, rgba(26, 30, 33, 0.6));
      path {
        fill: var(--icon-gray-200);
      }
    }

    &.active {
      background-color: var(--border-brand-800);
      svg path {
        fill: var(--icon-gray-200);
      }
    }

    &-icon {
      margin-right: var(--space-1);
      width: 24px;
      height: 24px;
      fill: var(--icon-gray-200);

      margin-right: var(--space-1);
      transform-origin: center;
      transform-box: fill-box;
      transition: 0.25s ease-out;
      padding: var(--space-1);

      .cubes {
        transform-origin: center;
        transform-box: fill-box;
        transition: 0.25s ease-out;
      }

      &:only-child {
        margin-right: 0;
      }
    }

    &.highlighted {
      background-color: var(--color-surface-brand-800);
      border-color: var(--border-brand-900);
    }

    &.highlighted &-icon {
      fill: var(--icon-gray-200);

      [fill] {
        fill: var(--icon-gray-200);
      }
    }

    &:hover {
      background-color: var(--color-surface-gray-200);
      border-color: transparent;
      color: var(--text-gray-900);
    }

    @media (hover: hover) {
      &:hover &-icon {
        fill: var(--icon-gray-900);

        .x1y1 {
          transform: translateX(9px);
        }

        .x1y2 {
          transform: translateY(-9px);
        }

        .x2y1 {
          transform: translateY(9px);
        }

        .x2y2 {
          transform: translateX(-9px);
        }

        [fill] {
          fill: var(--icon-gray-900);
        }
      }
    }

    &:disabled {
      pointer-events: none;
      // background-color: var(--color-surface-gray-200-transperent-88);
      // color: var(--text-gray-600);

      svg {
        // fill: var(--icon-gray-600);guko
      }
    }
  }

  &__nav-button {
    @include fonts.text-style-3-d-fonts-1920-body-regular;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-surface-gray-300);
    background-color: var(--color-surface-gray-200-transperent-88);
    padding: var(--space-2) var(--space-3);
    border: 1px solid transparent;
    border-radius: var(--btn-border-radius);
    color: var(--text-gray-900);
    transition: 0.25s ease-out;
    cursor: pointer;

    border-radius: var(--Spacing-Corner-radius-radius-1, 4px);
    background: var(--colors-surface-gray-surface-gray-900-transparent-60, rgba(26, 30, 33, 0.6));
    color: var(--text-gray-200);

    &[data-id='undefined'][data-type='flat'] {
      opacity: 0.7;
      pointer-events: none;
    }

    &[data-header-flat-plan-group] {
      display: none;
    }
    &[data-header-flat-plan-group][data-id] {
      display: flex;
    }
    &[data-header-flat-plan-group][data-id='undefined'] {
      display: none;
    }

    &[data-s3d2-header-plannings] {
      margin-right: 8px;
    }

    &.active {
      background-color: var(--color-surface-brand-800);
      // border-color: var(--border-brand-900);
      color: var(--text-gray-900);
      pointer-events: none;
      background: var(--Colors-Surface-Gray-surface-gray-200, #fafbfe);
    }
  }

  &__between-icon {
    width: 16px;
    height: 16px;
    fill: var(--icon-gray-200);
  }

  &__hide-block {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 34px;
  }

  &__hide-block-opener {
    position: absolute;
    left: 100%;
    top: 50%;
    width: 16px;
    height: 16px;
    background-color: var(--color-surface-gray-200);
    background-color: var(
      --colors-surface-gray-surface-gray-900-transparent-60,
      rgba(26, 30, 33, 0.6)
    );
    border-radius: var(--border-space-1);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transform: translateY(-50%);
    border: 1px solid transparent;
    border-left: none;
    cursor: pointer;
    transition: 0.25s ease-out;

    @media (hover: hover) {
      &:hover {
        // background-color: var(--color-surface-gray-400);
      }
    }

    &-icon {
      width: 100%;
      height: 100%;
      fill: var(--Colors-Icon-Gray-icon-gray-200, #fafbfe);
      transition: 0.25s ease-out;
    }
  }

  &__hide-block-opener.active svg {
    transform: rotate(180deg);
  }

  .Dropdown {
    .Dropdown__item {
      border-radius: var(--Spacing-Corner-radius-radius-1, 4px);
      background-color: var(
        --colors-surface-gray-surface-gray-900-transparent-60,
        rgba(26, 30, 33, 0.6)
      ) !important;
      color: var(--text-gray-200);
      border-color: transparent;
      &:hover {
        color: var(--text-gray-900);
      }
    }
    .Dropdown__title {
      border-radius: var(--Spacing-Corner-radius-radius-1, 4px);
      background-color: var(
        --colors-surface-gray-surface-gray-900-transparent-60,
        rgba(26, 30, 33, 0.6)
      ) !important;
      border-color: transparent;
      color: var(--text-gray-200);
      svg {
        fill: var(--icon-gray-200);
      }
    }
  }
}

.desktop {
  .s3d2-header {
    &__nav-button:hover {
      // background-color: var(--color-surface-gray-400);
      background-color: var(--color-brand-900);
    }
  }
}

.tablet,
.mobile {
  .s3d2-header__hide-block-opener,
  .s3d2-header__hide-block {
    display: none !important;
  }
}

.mobile {
  .s3d2-header {
    padding-top: calc(var(--space-1) + 1px);
    padding-bottom: calc(var(--space-1) + 1px);

    &__back-button {
      display: none;
    }
  }
}
