.FlybyControllerWrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  pointer-events: none;
  & > * {
    pointer-events: all;
  }

  .FlybyControllerWrapper-filter-call-button {
    position: absolute;
    left: var(--space-4);
    top: calc(var(--s3d-header) + var(--space-1));

    svg {
      path {
        fill: var(--icon-gray-200) !important;
      }
    }
  }
  .s3d__compass {
    position: absolute;
    right: var(--space-4);
    top: calc(var(--s3d-header) + var(--space-1));
  }
}
.FlybyController {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: var(--space-4);
  z-index: 100;
  width: calc(180px + var(--space-4) * 2);
  & > :nth-child(n + 2) {
    margin-top: var(--space-1);
  }
  & > :empty {
    display: none;
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--space-1);
  }
  & > .ButtonWithoutIcon {
    text-align: left;
  }

  .s3dFlybySideChooser {
    .ButtonWithoutIcon {
      padding-top: 3px;
      padding-bottom: 3px;
    }
  }
}

.tablet,
.mobile {
  .FlybyControllerWrapper-filter-call-button,
  .FlybyController {
    display: none;
  }
}

.info-text {
  position: absolute;
  bottom: 40px;
  right: 40px;
  font-size: 13px;
  font-family: 'Inter Display', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 140%;
  text-transform: none;
  color: var(--text-gray-200);
  max-width: 500px;

  @media screen and (max-width: 1366px) {
    max-width: 350px;
  }

  @media screen and (max-width: 1024px) {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 90%;
    bottom: 130px;
  }

  @media screen and (max-width: 767px) {
    font-size: 10px;
  }
}
